
@font-face {
	font-family: 'sensation';
	src:url(../font/sensation.ttf);
}

body{
	font-family: 'sensation';
	margin: 0;
	padding: 0;
}


.content{
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------PAGE 1 ----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */


#content1{
	background-image: url('../img/fond1.jpg');
	background-size: cover;
	z-index: 0;
}

.regiment{
	display: flex;
	flex-direction: column;
	padding : 10px;
}

#presentation{
	align-self: flex-end;
	margin-right: 6%;
	margin-top: 45vh;
	margin-bottom: 10Vh;
	position: relative;
}

#citationBloc{
	width: 60%;
	position: relative;
}

#martin h1{
	font-size: 4em;
}

#nom{
	color: #FFAE00;
}

#dev{
	color: #C6C6C6;
}

#quote{
	background-color: rgba(255, 255, 255, 0.2);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------PAGE 2 ----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

#content2{
	background-image: url('../img/fond2.jpg');
	background-size: cover;
}

.regiment2{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#parcours_titre{
	color: #FFAE00;
	font-size: 3em;
	margin-bottom: 40px;
	position: relative;
}

#parcours_liste{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}

#scolaire_liste{
	width: 40%;
	margin-bottom: 40px;
	position: relative;
}

#emploi_liste{
	width: 40%;
	margin-bottom: 40px;
	position: relative;
}

#diplome_liste{
	width: 40%;
	position: relative;
}

#permis_liste{
	width: 40%;
	position: relative;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------PAGE 3 ----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

#content3{
	background-image: url('../img/code2.png');
	background-size: cover;
}

.regiment3{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#competences_titre{
	color: white;
	margin: 30px;
	font-size: 2.5em;
	border : solid 2px #FFAE00;
	border-radius: 30px;
	padding: 20px;
}

#competences_code{
	width: 80%;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 20px;
}
#html{
	color: white;
	font-weight : bolder;
	font-size: 1.5em;
}

#css{
	color: white;
	font-weight : bolder;
	font-size: 1.5em;
}

#php{
	color: white;
	font-weight : bolder;
	font-size: 1.5em;
}

#js{
	color: white;
	font-weight : bolder;
	font-size: 1.5em;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------PAGE 4 ----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

#content4{
	background-image: url('../img/montagne.png');
	background-size: cover;
}

#contact_titre{
	font-size: 3em;
	margin-top: 50px;
	margin-bottom : 80px;
}

.contacts{
	font-size: 2em;
	padding: 30px;
	border-bottom: 1px white solid;
}

