body{                    /*Réinitialisation du body */
    margin : 0px;
    padding: 0px;
}

#container{                 /*Div principale pour FlexBox */
    display     : flex;
    width       : 100%;
    flex-wrap: wrap;
}

header{
    width: 100%;
    display: flex;
    margin-right: 6%;
    justify-content: flex-end;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------<Animation du Loading>------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

#logoAnimation{                             /*Div qui regroupe l'animation de Loading */
    width          : 50px;
    height         : 50px;
    transform      : rotate(45deg);     /*Rotation de 45 degrès */
    display        : flex;
    flex-wrap      : wrap-reverse;
    justify-content: flex-end;
    position: fixed;


}

#logoAnimation1{                                    /*Carré à droite */
    width                    : 25px;
    height                   : 25px;
    animation-name           : animation;   /*Appel de l'animation*/
    animation-duration       : 0.5s;
    animation-iteration-count: infinite;    /*Répétion de l'animation indéfiniment */

}

#logoAnimation2{                                    /*Carré au milieu */
    width                    : 25px;
    height                   : 25px;
    animation-name           : animation3;
    animation-duration       : 1s;
    animation-iteration-count: infinite;
}

#logoAnimation3{                                    /*Carré à gauche */
    width                    : 25px;
    height                   : 25px;
    animation-name           : animation2;
    animation-duration       : 01s;
    animation-iteration-count: infinite;
    animation-delay          : 0.3s;
}

@keyframes animation{                                                               /*Animation du carré de droite */
    0% {width  : 25px; opacity: 1;background-color: #006C78;}   /*Taille de 25 pixels et aucune opacité + couleur */
    50% {width : 1px; opacity: 0;background-color: #00A7FF;}    /*Réduction de la taille, opacité maximale et changement de couleur */
    100% {width: 25px; opacity: 1;background-color: #006C78;}   /*Retour à la normale*/
}

@keyframes animation2{                                                              /*Animation du carré de gauche*/
    0% {height  : 25px; opacity: 1; transform: translateX(0px);background-color: #006C78;}
    50% {height : 1px; opacity: 0;transform: translateY(12.5px);background-color: #00A7FF;}
    100% {height: 25px; opacity: 1;transform: translateX(0px);background-color: #006C78;}
}

@keyframes animation3{                      /*Animation du carré du milieu, consiste en un simple changement de couleur*/
    0% {background-color  : #006C78;}
    50% {background-color : #00A7FF;}
    100% {background-color: #006C78;}
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------</Animation du Loading>-----------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/


 #page1{
    width: 100%;
    height: 100vh;
    background-image: url(../img/page1.jpg);
    background-size: cover;
    
 }
