@font-face {
    font-family: 'MaPolice';
    src: url('sensation.ttf');
}

body
{
	font-family: "MaPolice", Helvetica,sans-serif;
}

html, body {margin:0}

.premier
{
	background-image: url(Images/fond.jpg);
	background-size: cover;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
}

.deuxieme
{

	background-color: #102331;
	height: 651px;
	width: 100%;
	display: inline-block;
	margin-top: 50%;

}

.troisieme
{

	background-color: #271a0d;
	height: 650px;
	width: 100%;
	display: inline-block;
}
/*BARRE DE NAVIGUATION*/

nav
{
	display: inline-block;
}

nav ul
{
	list-style-type: none;
}

nav li
{

}

nav a
{
	text-decoration: none;
	color : black;
	width: 100%;
	padding: 20px;
	text-align: right;
	display: inline-block;
}

.mv-item,
.mv-item a {
  /* les liens et item deviennent des blocs */
  /* suffit théoriquement à virer les puces de liste */
  display: block;
}

.mv-item a {
  padding: 10px 10px;
  margin:0px;
  margin-left: -20px;
  color: #666;
  background: #FFF;

  /* on définit la transition pour les navigateurs */
  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */
  transition: all .3s; /* syntaxe officielle */
}

/* styles changeants au survol et focus */
.mv-item a:hover,
.mv-item a:focus {
  background: #828282;
  color: #FFF;
  margin:0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cote
{
	width: 20%;
	border : white 1px solid;
	background-color: white;
	border-width: 0px;
	box-shadow: 1px 1px 7px black;
	margin: 20px;
	display: inline-block;
	position: fixed;

}

.chat
{
	width: 100%;
}

.contact
{
	margin-top : 20%;
	width: 100%;
	text-align: center;
}

.facebook
{
	width: 20%;
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 10px;
}

.twitter
{
	width: 20%;
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 10px;
}

.google
{
	width: 20%;
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 10px;
}

.intro
{
	display: inline-block;
	margin-right: 27%;
	margin-top: 30%;
	float: right;
	color: white;
	font-size: 40px;
}

.intro2
{
display: inline-block;
float: right;
margin-right: 55%;
margin-top: -2%;
color :#828282 ;
font-size: 20px;
font-weight: bolder;
}

.dl
{
	display: inline-block;
	margin-right: 60%;
	float: right;
	margin-top: 1%;
	border : 1px white solid;
	border-radius: 30px;
	background-color: white;
	padding :20px;
	text-decoration: none;
	color: black;
}


/*DEUXIEME PAGE*/

.titrePres
{
	font-size: 35px;
	color: white;
	display: inline-block;
	margin-left: 25%;
	margin-top: 80px;

}

.paragraphePres
{
	color: white;
	display: inline-block;
	margin-left: 25%;
}

.progressbar {
    width: 20%;
    height: 15px;
    background-color: #191919;
    padding: 2px;
    margin: .6em 0;
    margin-left: 25%;
    border: 1px #000 double;
    border-radius: 30px;
    clear: both;
}

.progress {
    background: #acacac; /*-Couleur de la barre */
    height: 15px;
    width: 0%;
    max-width: 100%;
    float: left;
    -webkit-animation: progress 2s 1 forwards;
    -moz-animation: progress 2s 1 forwards;
    -ms-animation: progress 2s 1 forwards;
    animation: progress 2s 1 forwards;
    border-radius: 30px;
}

.pbaranim {
    height: 15px;
    width: 100%;
    overflow: hidden;
    background: url('http://www.cssdeck.com/uploads/media/items/7/7uo1osj.gif') repeat-x;
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    filter: alpha(opacity=25);
    border-radius: 30px;
}

@-webkit-keyframes progress { 
    from { }

    to { width: 95% }
}

@-moz-keyframes progress { 
    from { }

    to { width: 95% }
}

@-ms-keyframes progress { 
    from { }

    to { width: 95% }
}

@keyframes progress { 
    from { }

    to { width: 95% }
}

.progress2 {
    background: #acacac; 
    height: 15px;
    width: 0%;
    max-width: 100%;
    float: left;
    -webkit-animation: progress2 2s 1 forwards;
    -moz-animation: progress2 2s 1 forwards;
    -ms-animation: progress2 2s 1 forwards;
    animation: progress2 2s 1 forwards;
    border-radius: 30px;
}

@-webkit-keyframes progress2 { 
    from { }

    to { width: 90% }
}

@-moz-keyframes progress2 { 
    from { }

    to { width: 90% }
}

@-ms-keyframes progress2 { 
    from { }

    to { width: 90% }
}

@keyframes progress2 { 
    from { }

    to { width: 90% }
}

.progress3 {
    background: #acacac;
    height: 15px;
    width: 0%;
    max-width: 100%;
    float: left;
    -webkit-animation: progress3 2s 1 forwards;
    -moz-animation: progress3 2s 1 forwards;
    -ms-animation: progress3 2s 1 forwards;
    animation: progress3 2s 1 forwards;
    border-radius: 30px;
}

@-webkit-keyframes progress3 { 
    from { }

    to { width: 70% }
}

@-moz-keyframes progress3 { 
    from { }

    to { width: 70% }
}

@-ms-keyframes progress3 { 
    from { }

    to { width: 70% }
}

@keyframes progress3 { 
    from { }

    to { width: 70% }
}

.progress4 {
    background: #acacac; 
    height: 15px;
    width: 0%;
    max-width: 100%;
    float: left;
    -webkit-animation: progress4 2s 1 forwards;
    -moz-animation: progress4 2s 1 forwards;
    -ms-animation: progress4 2s 1 forwards;
    animation: progress4 2s 1 forwards;
    border-radius: 30px;
}

@-webkit-keyframes progress4 { 
    from { }

    to { width: 5% }
}

@-moz-keyframes progress4 { 
    from { }

    to { width: 5% }
}

@-ms-keyframes progress4 { 
    from { }

    to { width: 5% }
}

@keyframes progress4 { 
    from { }

    to { width: 5% }
}