@font-face {
    font-family: 'MaPolice';
    src: url('sensation.ttf');
}

body
{
	font-family: "MaPolice", Helvetica,sans-serif;
}

html, body {margin:0}

.premier
{
	background-image: url(Images/fond.jpg);
	background-size: cover;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
}

.deuxieme
{

	background-color: #102331;
	height: 651px;
	width: 100%;
	display: inline-block;
	margin-top: 50%;

}

.troisieme
{

	background-color: #271a0d;
	height: 650px;
	width: 100%;
	display: inline-block;
}
/*BARRE DE NAVIGUATION*/

nav
{
	display: inline-block;
}

nav ul
{
	list-style-type: none;
}

nav li
{

}

nav a
{
	text-decoration: none;
	color : black;
	width: 100%;
	padding: 20px;
	text-align: right;
	display: inline-block;
}

.mv-item,
.mv-item a {
  /* les liens et item deviennent des blocs */
  /* suffit théoriquement à virer les puces de liste */
  display: block;
}

.mv-item a {
  padding: 10px 10px;
  margin:0px;
  margin-left: -20px;
  color: #666;
  background: #FFF;

  /* on définit la transition pour les navigateurs */
  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */
  transition: all .3s; /* syntaxe officielle */
}

/* styles changeants au survol et focus */
.mv-item a:hover,
.mv-item a:focus {
  background: #828282;
  color: #FFF;
  margin:0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cote
{
	width: 20%;
	border : white 1px solid;
	background-color: white;
	border-width: 0px;
	box-shadow: 1px 1px 7px black;
	margin: 20px;
	display: inline-block;
	position: fixed;

}

.chat
{
	width: 100%;
}

.contact
{
	margin-top : 40%;
	width: 100%;
	text-align: center;
}

.facebook
{
	width: 20%;
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 10px;
}

.twitter
{
	width: 20%;
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 10px;
}

.google
{
	width: 20%;
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 10px;
}

.intro
{
	display: inline-block;
	margin-right: 27%;
	margin-top: 30%;
	float: right;
	color: white;
	font-size: 40px;
}

.intro2
{
display: inline-block;
float: right;
margin-right: 55%;
margin-top: -2%;
color :#828282 ;
font-size: 20px;
font-weight: bolder;
}

.dl
{
	display: inline-block;
	margin-right: 60%;
	float: right;
	margin-top: 1%;
	border : 1px white solid;
	border-radius: 30px;
	background-color: white;
	padding :20px;
	text-decoration: none;
	color: black;
}


/*DEUXIEME PAGE*/

.titrePres
{
	font-size: 35px;
	color: white;
	display: inline-block;
	margin-left: 25%;
	margin-top: 80px;

}

.paragraphePres
{
	color: white;
	display: inline-block;
	margin-left: 25%;
}


.progress-bar { 
    width: 300px;
    height: 15px;
    padding: 4px;
    margin-left: 25%;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.progress-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 280px;
    height: 16px;
    background: #999;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.progress-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 280px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}

.blue:before { 
  background: #white;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(white));
  background: -moz-linear-gradient(top, #099, #006A6B);
}

.progress-bar2 { 
    width: 300px;
    height: 15px;
    padding: 4px;
    margin-left: 25%;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.progress-bar2:before { 
    content: '';
    display: block;
    position: absolute;
    width: 210px;
    height: 16px;
    background: #999;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.progress-bar2:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 210px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}

.blue:before { 
  background: #white;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(white));
  background: -moz-linear-gradient(top, #099, #006A6B);
}

.progress-bar3 { 
    width: 300px;
    height: 15px;
    padding: 4px;
    margin-left: 25%;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.progress-bar3:before { 
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 16px;
    background: #999;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.progress-bar3:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 20px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}

.blue:before { 
  background: #white;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(white));
  background: -moz-linear-gradient(top, #099, #006A6B);
}