@font-face {
    font-family: 'Sensation';
    src: url(../../font/sensation.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../../font/Roboto.ttf);
}

@font-face {
    font-family: 'RobotoL';
    src: url(../../font/Roboto-l.ttf);
}

@keyframes apparition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#slide_1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url(../../img/clavier.JPG);
    background-size: cover;

    h1 {
        padding: 30px;
        margin: 0;
        margin-top: 50px;
        font-size: 2.5em;
        font-family: 'Sensation';
        font-weight: lighter;
        color: white;
        animation-name: apparition;
        animation-duration: 1s;
    }

    h3 {
        padding: 15px;
        padding-right: 30px;
        margin-bottom: 50px;
        font-family: 'Sensation';
        font-weight: lighter;
        color: white;
        animation-name: apparition;
        animation-duration: 1s;
    }

    #nom {
        color: #FFAE00;
    }

    #citationBloc {
        width: 60%;
        position: relative;
        align-self: flex-start;
    }

    #quote {
        background-color: rgba(255, 255, 255, 0.2);
        border-left: 5px solid #4e5d6c;
        color: white;
        padding: 10px;
        font-family: 'Sensation';
        font-weight: lighter;
        font-size: 1.2em;
    }
}

#slide_2 {
    width: 100%;
    height: 100vh;
    font-family: 'RobotoL';
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #F5F5F5;

    #profil {
        width: 20%;
        margin-bottom: 100px;

        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
    }

    div {
        width: 90%;

        h2 {
            font-size: 1.8em;
            font-family: 'Sensation';
            font-weight: lighter;
            border-bottom: 2px solid #217295;
            color: black;
            margin: 0;
            margin-top: 30px;
            padding: 15px;
            width: 50%;
        }

        p {
            // margin: 20px;
            font-size: 1.2em;
            background-color: #F5F5F5;
            margin: 0;
            color: black;
            padding: 20px;
        }
    }

    #icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-between;
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
        background-color: #F4AE59;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

        #logo {
            width: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: center;
            box-shadow: none;
            transition: 0.5s;

            &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
                transition: 0.5s;
            }

            #img {
                width: 40px;
                height: 40px;
            }

            #img2 {
                width: 40px;
                height: 40px;
            }

            #img3 {
                width: 40px;
                height: 40px;
            }

            #img4 {
                width: 40px;
                height: 40px;
            }

            #img5 {
                width: 40px;
                height: 30px;
            }

            #img6 {
                width: 30px;
                height: 40px;
            }
        }
    }

    #text_logo {
        display: flex;
        justify-content: space-around;
        text-align: center;
        color: black;
    }
}

#slide_3 {
    width: 100%;
    height: 30vh;
    background-image: url(../../img/pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#slide_4 {
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: white;
        background-color: #F4AE59;
        font-family: 'RobotoL';
        font-size: 3em;
        font-weight: lighter;
        padding: 15px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}

.timeline ul {
    margin-top: 0px;
    background: #F5F5F5;
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: white;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    background: white;
    color: #424242;
    font-family: 'RobotoL';
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.timeline ul li div p {
    padding: 15px;
    margin: 0;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(even) div {
    left: -470px;
}

time {
    display: block;
    color: white;
    font-size: 1.2rem;
    padding: 15px;
    font-weight: bold;
    background-color: #F4AE59;
    display: flex;
    justify-content: space-between;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #F4AE59;
}

.timeline ul li div {
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

#slide_5 {
    background-image: url(../../img/montagne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
}

#slide_6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: #F5F5F5;

    a {
        box-sizing: border-box;
        text-decoration: none;
        background: none;
        border: 0;
        color: black;
        font-size: 2em;
        margin: 10px;
        padding: 20px 20px;
        text-align: center;
        position: relative;
        vertical-align: middle;
        font-family: 'RobotoL';

        &::before, &::after {
            box-sizing: border-box;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    .oc {
        transition: color 0.25s;

        &::before,
        &::after {
            border: 2px solid transparent;
            width: 0;
            height: 0;
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }

        &:hover {
            color: #217295;
        }

        &:hover::before,
        &:hover::after {
            width: 100%;
            height: 100%;
        }

        &:hover::before {
            border-top-color: #217295;
            border-right-color: #217295;
            transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
        }

        &:hover::after {
            border-bottom-color: #217295;
            border-left-color: #217295;
            transition: border-color 0s ease-out 0.5s,  width 0.25s ease-out 0.5s,  height 0.25s ease-out 0.75s;
        }
    }

    h2 {
        color: white;
        background-color: #217295;
        font-family: 'Sensation';
        font-size: 3em;
        font-weight: lighter;
        padding: 15px;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    #barres {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        #barres_contenu {
            width: 50%;
        }

        .progress {
            display: block;
            opacity: 0;
            left: 50px;
            transition: all 1s ease-in-out;
            visibility: hidden;
            position: relative;
            height: 25px;
            width: 90%;
            background-color: #91B9FF;
            border-radius: 2px;
            background-clip: padding-box;
            margin: 0.5rem 0 1rem 0;
            margin-left: 20px;
            margin-bottom: 50px;
            overflow: hidden;
            display: flex;
            padding: 0;
            justify-content: flex-start;
            align-items: center;
            align-content: center;

            p {
                margin: 0;
                padding: 0;
                padding-top: 3px;
                text-align: center;
                background-color: #0A354E;
                width: 5em;
                color: white;
                height: 25px;
                font-family: 'Roboto';
            }
        }

        .progress .determinate {
            position: absolute;
            background-color: inherit;
            top: 0;
            bottom: 0;
            background-color: #175A7A;
            transition: width .3s linear;
        }

        .progress.in-view {
            transform: none;
            visibility: visible;
            opacity: 1;
            left: 0px;
        }
    }
}

#slide_7 {
    height: 100vh;
    width: 100%;
    background-image: url("../../img/slide7.png");
    background-size: cover;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;

    #icons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    a {
        width: 45%;
    }

    img {
        width: 70%;
        margin-bottom: 10px;
        margin-top: 10px;
        transition: 0.5s;

        &:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
            transition: 0.5s;
        }
    }

    .gauche {
        height: 100vh;
        width: 35%;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        display: flex;
        flex-direction: column;
    }

    .droite {
        margin-right: 20px;

        h2 {
            color: #53BB62;
            background-color: white;
            font-family: 'Sensation';
            font-weight: lighter;
            align-self: center;
            font-size: 2em;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
    }
}
@media screen and (orientation: landscape) and (min-width: 1920px) {
    #slide_1 {

        h1 {
            padding-right: 10em;
        }

        h3 {
            padding-right:20em;
        }
    }

}
@media screen and (max-width: 768px) {
    body {
        width: auto;
        overflow-x: hidden;
    }

    #slide_1 {
        width: 100%;
        height: 91vh;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        background-image: url(../../img/clavier.JPG);
        background-size: cover;

        h1 {
            margin: 0;
            font-size: 1.5em;
            font-family: 'Sensation';
            font-weight: lighter;
            color: white;
            animation-name: apparition;
            animation-duration: 1s;
        }

        h3 {
            padding: 15px;
            padding-right: 30px;
            margin-bottom: 50px;
            font-family: 'Sensation';
            font-weight: lighter;
            color: white;
            font-size: 1em;
            animation-name: apparition;
            animation-duration: 1s;
        }

        #nom {
            color: #FFAE00;
        }

        #citationBloc {
            width: 100%;
            margin: 0;
        }

        #quote {
            background-color: rgba(255, 255, 255, 0.2);
            border-left: 5px solid #4e5d6c;
            color: white;
            width: 97%;
            padding: 10px;
            padding-left: 5px;
            padding-right: 0px;
            margin: 0;
            font-family: 'Sensation';
            font-weight: lighter;
            font-size: 1em;
        }
    }

    #slide_2 {
        width: 100%;
        height: 100vh;
        font-family: 'RobotoL';
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        background-color: #F5F5F5;

        #profil {
            width: 45%;
            margin-bottom: 100px;

            img {
                width: 100%;
                height: 100%;
                overflow: hidden;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
        }

        div {
            width: 90%;

            h2 {
                font-size: 1.5em;
                font-family: 'Sensation';
                font-weight: lighter;
                border-bottom: 2px solid #217295;
                color: black;
                margin: 0;
                margin-top: 30px;
                padding: 15px;
                width: 90%;
            }

            p {
                font-size: 1.2em;
                background-color: #F5F5F5;
                margin: 0;
                color: black;
                padding: 0;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }

    #slide_4 {
        width: 100%;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: white;
            background-color: #F4AE59;
            font-family: 'RobotoL';
            font-size: 2em;
            width: 100%;
            text-align: center;
            font-weight: lighter;
            padding: 15px;
            padding-left: 0;
            padding-right: 0;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
    }

    .timeline ul {
        margin-top: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: #F5F5F5;
        padding: 0px;
    }

    .timeline ul li {
        list-style-type: none;
        position: static;
        width: 100%;
        margin: 0;
        margin-left: 0px;
        padding-top: 50px;
        background: #F5F5F5;
    }

    .timeline ul li div {
        width: 100%;
    }

    .timeline ul li div {
        position: static;
        background: white;
        color: #424242;
        font-family: 'RobotoL';
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .timeline ul li div p {
        padding: 15px;
        margin: 0;
    }

    .timeline ul li:nth-child(odd) div {
        left: 0px;
    }

    .timeline ul li:nth-child(even) div {
        left: 0%;
    }

    time {
        display: block;
        color: white;
        font-size: 1.2rem;
        padding: 15px;
        font-weight: bold;
        background-color: #F4AE59;
        display: flex;
        justify-content: space-between;
    }

    /* EFFECTS
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

    .timeline ul li::after {
        display: none;
    }

    .timeline ul li.in-view::after {
        display: none;
    }

    .timeline ul li div {
        opacity: 1;
        position: static;
    }

    .timeline ul li:nth-child(odd) div {
        transform: translate3d(0px, 0, 0);
    }

    .timeline ul li:nth-child(even) div {
        transform: translate3d(0px, 0, 0);
    }

    #slide_6 {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-color: #F5F5F5;
        
        a{
            font-size: 1em;
        }

        h2 {
            color: white;
            background-color: #217295;
            font-family: 'Sensation';
            font-size: 1.5em;
            width: 100%;
            font-weight: lighter;
            padding: 15px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;
            margin-bottom: 30px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

        #barres {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            #barres_contenu {
                width: 90%;
            }

            .progress {
                display: block;
                opacity: 1;
                left: -20px;
                transition: all 1s ease-in-out;
                visibility: visible;
                position: relative;
                height: 25px;
                width: 100%;
                background-color: #91B9FF;
                border-radius: 2px;
                background-clip: padding-box;
                margin: 0.5rem 0 1rem 0;
                margin-left: 20px;
                margin-bottom: 20px;
                overflow: hidden;
                display: flex;
                padding: 0;
                justify-content: flex-start;
                align-items: center;
                align-content: center;

                p {
                    margin: 0;
                    padding: 0;
                    padding-top: 3px;
                    text-align: center;
                    background-color: #0A354E;
                    width: 5em;
                    color: white;
                    height: 25px;
                    font-family: 'Roboto';
                }
            }

            .progress .determinate {
                position: absolute;
                background-color: inherit;
                top: 0;
                bottom: 0;
                background-color: #175A7A;
                transition: width .3s linear;
            }
        }
    }

    #slide_3 {
        width: 100%;
        height: 20vh;
        background-image: url(../../img/pc.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #slide_5 {
        background-image: url(../../img/montagne.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 20vh;
        width: 100%;
    }

    #slide_7 {
        height: 100vh;
        width: 100%;
        background-image: url("../../img/slide7.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;

        #icons {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            align-content: center;
            text-align: center;
        }

        a {
            width: 90%;
        }

        img {
            width: 70%;
            margin-bottom: 10px;
            margin-top: 10px;
            transition: 0.5s;

            &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
                transition: 0.5s;
            }
        }

        .gauche {
            height: 100vh;
            width: 35%;
            background-color: white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .droite {
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-content: center;

            h2 {
                color: #53BB62;
                background-color: white;
                font-family: 'Sensation';
                font-weight: lighter;
                align-self: center;
                font-size: 1.3em;
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }
        }
    }
}